@model ProjektSpoleczenstwo.Models.IndexViewModel
@{
    ViewBag.Title = "Panel administracyjny";
}

<h2>@ViewBag.Title.</h2>
<hr>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="tilesContainer">
    <a href="@Url.Action("CreateEmployee", "Manage")" class="btnWrap">
        <button class="tile">
            Stwórz pracownika
        </button>
    </a>
    <a href="@Url.Action("CreateDepartment", "Manage")" class="btnWrap">
        <button class="tile">
            Stwórz oddział
        </button>
    </a>
    <a href="@Url.Action("CreateJob", "Manage")" class="btnWrap">
        <button class="tile">
            Stwórz stanowisko
        </button>
    </a>
    <a href="@Url.Action("RegisterCard", "Manage")" class="btnWrap">
        <button class="tile">
            Przypisz kartę
        </button>
    </a>
    <a href="@Url.Action("Activity", "Manage")" class="btnWrap">
        <button class="tile">
            Tabela aktywności
        </button>
    </a>
    <a href="@Url.Action("Summary", "Manage")" class="btnWrap">
        <button class="tile">
            Podsumowanie
        </button>
    </a>
    <a href="@Url.Action("Register", "Account")" class="btnWrap">
        <button class="tile">
            Dodaj administratora
        </button>
    </a>
    <a href="@Url.Action("ChangePassword","Manage")" class="btnWrap">
        <button class="tile">
            Zmień hasło
        </button>
    </a>

</div>
